<%= form_with(model: food, url: user_foods_path(current_user)) do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :measurement_unit, class: "form-label" %>
    <%= form.text_field :measurement_unit, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :quantity, class: "form-label" %>
    <%= form.text_field :quantity, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Create Food", class: "btn btn-secondary" %>
  </div>
<% end %>